* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p{
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('/assets/img/fundo.svg');
    background-position: center center;
    max-width: 100%;
    Background-repeat: no-repeat;
}

h1 {
    font-size: 25px;
    color: #fff;
 }
 
 h2 {
    font-size: 10px;
    color: #7D7D7D;
    font-weight: 400;
 }
 
 h3 {
     font-size: 10px;
     color: #fff;
     padding: 30px;
 }

 p {
    font-size: 10px; 
    font-weight: 500;
    color: #fff;
 }

 .novalogo1 {
    margin-right: 10px;
    margin-left: 89%;
    width: 130px;
    height: 100px;   
}
 
.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    padding-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}


.segurando{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 360px;
    border-radius: 15px;
    background-color: #121111;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.69);
    margin-top: 55px;
}


.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.retangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background-color: #121111;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.69);
    width: 293px;
    height: 45px;
    margin-top: 35px;
    padding-bottom: 19px;  
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    height: 20px;
    cursor: pointer;
}

.social-medias {
    width: 42px;
    padding-bottom: 20px;
 }

.footerc {
    text-align: center;
    margin-top: 190px;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
}

.logo {
    max-width: 60px;
    margin-bottom: 510px;
    margin-right: 150px;
}



@media (max-width: 800px) {
    .segurando{
        max-width: 240px;
        min-height: 360px;
    }

    .retangulo {
        max-width: 239px;
        min-height: 20px;
        padding-bottom: 19px;  
    }

    .social-medias {
        max-width: 35px;  
        margin-top: 3.3px;  
     }

     .logo {
        max-width: 52px;
        margin-right: 143px;
        margin-bottom: 500px;
    }

    .novalogo1 {
        margin-top: 77px;
        margin-left: 76%;
        max-width: 100px;
        max-height: 100px;   
    }
    
    .footerc {
        text-align: center;
        margin-top: 100px
    }

    body {
        overflow:hidden;
    }



}